<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bowling.mapper.AlleyMapper">

	<!-- 볼링장 등록 -->
	<insert id="alleyRegister" useGeneratedKeys="true" keyProperty="alleySeq" >
		INSERT INTO alley
		(ALLEY_TEL, ALLEY_NAME, OPEN_TIME, CLOSE_TIME, PRICE_NOMARL, PRICE_CLUB, PRICE_STUDENT, ALLEY_ZIP_CODE, ALLEY_ADDR1, ALLEY_ADDR2, ALLEY_RAIN, ALLEY_CONTENT, FIRST_REGIST_TM, FIRST_REGIST_ID, LAST_UPDT_TM, LAST_UPDT_ID)
		VALUES (#{alleyTel}, #{alleyName}, #{openTime}, #{closeTime}, #{priceNomarl}, #{priceClub}, #{priceStudent}, #{alleyZipCode}, #{alleyAddr1}, #{alleyAddr2}, #{alleyRain},#{alleyContent} ,NOW(), #{firstRegistId}, NOW(), #{lastUpdtId})
	</insert>
	
	<!-- 볼링장 리스트 -->
	<select id="searchAlleyInfo" resultMap="AlleyVO">
		SELECT *
		FROM alley
		WHERE alley_seq NOT IN (
			SELECT c.alley_seq
			FROM 
				(SELECT
					b.BO_RAIN,a.*
				FROM 
					alley a LEFT JOIN booking b ON a.alley_seq = b.ALLEY_SEQ
				where b.BO_TIME = #{boTime}
				AND b.BO_DATE = #{boDate}
		)c
		<![CDATA[
		WHERE alley_rain - bo_rain < #{boRain})
		]]>
		<if test="alleyName != null and alleyName != ''">
			AND alley_name LIKE concat('%',#{alleyName},'%')
		</if>
		<if test="alleyAddr1 != null and alleyAddr1 != ''">
			and ALLEY_ADDR1 LIKE concat('%',#{alleyAddr1},'%')
		</if>
		<if test="boTime != null and boTime != ''">
			<![CDATA[
			AND  #{boTime} >= OPEN_TIME AND #{boTime} <= CLOSE_TIME  
			]]>
		</if>
		order by alley_seq desc
		limit #{skip},#{amount}
	</select>
	
	
	
	<select id="alleyTotal" resultType="int">
				SELECT Count(*)				
		FROM alley
		WHERE alley_seq NOT IN (
			SELECT c.alley_seq
			FROM 
				(SELECT
					b.BO_RAIN,a.*
				FROM 
					alley a LEFT JOIN booking b ON a.alley_seq = b.ALLEY_SEQ
				where b.BO_TIME = #{boTime}
				AND b.BO_DATE = #{boDate}
		)c
		<![CDATA[
		WHERE alley_rain - bo_rain < #{boRain})
		]]>
		<if test="alleyName != null and alleyName != ''">
			AND alley_name LIKE concat('%',#{alleyName},'%')
		</if>
		<if test="alleyAddr1 != null and alleyAddr1 != ''">
			and ALLEY_ADDR1 LIKE concat('%',#{alleyAddr1},'%')
		</if>
		<if test="boTime != null and boTime != ''">
			<![CDATA[
			AND  #{boTime} >= OPEN_TIME AND #{boTime} <= CLOSE_TIME  
			]]>
		</if>
	</select>
	
	
	
	<!-- 볼리장 상세 페이지 -->
	<select id="alleyDetail" parameterType="int" resultMap="AlleyVO">
		SELECT ALLEY_SEQ, ALLEY_TEL, ALLEY_NAME, OPEN_TIME, CLOSE_TIME, PRICE_NOMARL, PRICE_CLUB, PRICE_STUDENT, ALLEY_ZIP_CODE, ALLEY_ADDR1, ALLEY_ADDR2, ALLEY_RAIN, ALLEY_CONTENT, FIRST_REGIST_TM, FIRST_REGIST_ID, LAST_UPDT_TM, LAST_UPDT_ID
		FROM alley
		WHERE ALLEY_SEQ = #{alleySeq}		
	</select>
	
	
	<!-- 볼링장 정보 수정 -->
	<update id="alleyModify">
		UPDATE ALLEY
		SET ALLEY_TEL = #{alleyTel}, ALLEY_NAME = #{alleyName}, OPEN_TIME = #{openTime},
			CLOSE_TIME = #{closeTime}, PRICE_NOMARL = #{priceNomarl}, PRICE_CLUB = #{priceClub}, PRICE_STUDENT = #{priceStudent},
			ALLEY_ZIP_CODE=#{alleyZipCode}, ALLEY_ADDR1 = #{alleyAddr1}, ALLEY_ADDR2 = #{alleyAddr2}, ALLEY_RAIN = #{alleyRain}, ALLEY_CONTENT = #{alleyContent}
		WHERE ALLEY_SEQ = #{alleySeq}	
	</update>
	
	<!-- 볼링장 정보 삭제 -->
	<delete id="alleyDelete">
		DELETE FROM ALLEY WHERE ALLEY_SEQ = #{alleySeq}
	</delete>
	
	<!-- 이미지 등록 -->
	<insert id="imageRegister" parameterType="java.util.Map">
		
		INSERT INTO IMAGE(ALLEY_SEQ,UPLOAD_PATH,UUID,UUID1,UUID2,FILE_NAME,FILE_NAME1,FILE_NAME2)
		VALUES (#{alleySeq},#{uploadPath},#{uuid},#{uuid1},#{uuid2},#{fileName},#{fileName1},#{fileName2})
	
	</insert>
	
	<!-- 지정 볼링장 이미지 전체 삭제 -->
	<delete id="deleteImageAll">
		DELETE FROM IMAGE WHERE ALLEY_SEQ = #{alleySeq}
	</delete>
	
	
	<!-- 볼링장별 회원등급 조회 -->
	<select id="alleyMemberGrade" resultType="String">
		SELECT ALLEY_MEMBER_GRADE FROM alley_member_grade
		WHERE MEMBER_ID = #{memberId} and ALLEY_SEQ = #{alleySeq}
	</select>
	
	<!-- 회원등급 조건 체크 -->
	<select id="MemberGradeCk" resultType="int">
		SELECT COUNT(DISTINCT BO_TIME) FROM BOOKING
		WHERE DATE_ADD(NOW(), INTERVAL -3 MONTH) AND MEMBER_ID = #{memberId} AND alley_seq = #{alleySeq}
	</select>
	
	
	

	
	
	<resultMap id="AlleyVO" type="com.bowling.domain.vo.AlleyVO">
      <result property="alleySeq" column="ALLEY_SEQ" />
      <result property="alleyTel" column="ALLEY_TEL" />
      <result property="alleyName" column="ALLEY_NAME" />
      <result property="openTime" column="OPEN_TIME" />
      <result property="closeTime" column="CLOSE_TIME" />
      <result property="priceNomarl" column="PRICE_NOMARL" />
      <result property="priceClub" column="PRICE_CLUB" />
      <result property="priceStudent" column="PRICE_STUDENT" />
      <result property="alleyZipCode" column="ALLEY_ZIP_CODE" />
      <result property="alleyAddr1" column="ALLEY_ADDR1" />
      <result property="alleyAddr2" column="ALLEY_ADDR2" />
      <result property="alleyRain" column="ALLEY_RAIN" />
      <result property="alleyContent" column="ALLEY_CONTENT" />
      <result property="firstRegistTm" column="FIRST_REGIST_TM" />
      <result property="firstRegistId" column="FIRST_REGIST_ID" />
      <result property="lastUpdtTm" column="LAST_UPDT_TM" />
      <result property="lastUpdtId" column="LAST_UPDT_ID" />
      <result property="total" column="total" />
      <result property="allowPerson" column="allowPerson" />
   </resultMap>
   
   <resultMap id="AlleyMemberGradeVO" type="com.bowling.domain.vo.AlleyMemberGradeVO">
      <result property="alleySeq" column="ALLEY_SEQ" />
      <result property="memberId" column="MEMBER_ID" />
      <result property="alleyMemberGrade" column="ALLEY_MEMBER_GRADE" />
      <result property="alleyName" column="ALLEY_NAME" />
   </resultMap>
   




</mapper>