<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bowling.mapper.MemberMapper">
	
	
	<!--회원가입-->
	<insert id="memberJoin">
		INSERT INTO MEMBER
		(MEMBER_ID, MEMBER_PW, MEMBER_EMAIL, MEMBER_NAME, MEMBER_AGE, MEMBER_TEL, MEMBER_ADDR1, MEMBER_ADDR2, MEMBER_ADDR3, ADMIN_CK)
		VALUES(#{memberId}, #{memberPw}, #{memberEmail}, #{memberName}, #{memberAge}, #{memberTel}, #{memberAddr1}, #{memberAddr2}, #{memberAddr3}, 0)
	</insert>
	
	<!-- 아이디 중복검사 -->
  	<select id="idCheck" resultType="int">
  	
  		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID = #{memberId}
  	
  	</select>
  	
  	<select id="memberLogin" resultMap="board">
  		SELECT MEMBER_NAME, MEMBER_PW, ADMIN_CK
  		FROM MEMBER
  		WHERE MEMBER_ID = #{memberId}
  	</select>
  	
  	<resultMap id="board" type="com.bowling.domain.vo.MemberVO">
      <result property="memberName" column="MEMBER_NAME" />
      <result property="memberPw" column="MEMBER_PW" />
      <result property="adminCk" column="ADMIN_CK" />
   </resultMap>



</mapper>